%img-flex {
  flex-basis: 40rem;
  padding: 2rem;
  flex-grow: 1;
}
%para-title {
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
}
%ititle {
  margin-bottom: 2rem;
  font-size: 3rem;
}
%skills {
  padding: calc(1rem + 2vw);
  text-transform: uppercase;
  flex-basis: 40rem;
  flex-grow: 1;
}
// %font-title-phone {
//   font-size: calc(0.8rem + 1.5vw);
// }
