main {
  flex: 1; // take up all remaining space
  font-family: var(--primary-font);

  .header {
    background-color: var(--secondary-color);
    height: calc(3vw + 3vh);
    z-index: 2;

    &__main-nav {
      height: 100%;

      // media query - phone size
      @include respond(phone) {
        width: 30rem;
        height: 100%;
        position: fixed;
        top: 0;
        right: -30rem;
        background-color: var(--secondary-color);
        text-align: center;
      }

      &--hamburger {
        // media query - phone size
        @include respond(phone) {
          width: 5rem;
          height: 5rem;
          position: fixed;
          top: 2rem;
          right: 3rem;
          cursor: pointer;
          background-color: var(--secondary-color);
          border-radius: 50%;

          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          .line {
            // media query - phone size
            // @include respond(phone) {
            width: 50%;
            height: 0.3rem;
            background-color: var(--color-white);
            border-radius: 0.2rem;
            transition: all 0.4s ease-in-out;
            // align-items: center;
            // float: ;
            // }
          }
        }
      }

      &--links {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        // media query - phone size
        @include respond(phone) {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

        li {
          padding-right: 3vw;

          // media query - phone size
          @include respond(phone) {
            margin-bottom: 4vh;
            margin-left: 6vw;
          }

          a {
            position: relative;
            padding: 0.2rem 0.6rem;
            font-size: calc(1rem + 0.66667vw);

            &:link::before,
            &:link::after,
            &:visited::before,
            &:visited::after {
              content: "";
              position: absolute;
              left: 0;
              width: 100%;
              height: 0.2rem;
              background-color: var(--color-white);

              transform: scaleX(0);
              transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
            }
            &:link::before,
            &:visited::before {
              top: 0;
              transform-origin: left;
            }
            &:link::after,
            &:visited::after {
              bottom: 0;
              transform-origin: right;
            }

            &:hover::before,
            &:active::after,
            &:active::before,
            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
