.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: calc(1rem + 2vw);
  background-color: var(--tertiary-color);

  &__design,
  &__coding {
    @extend %skills;

    &--title {
      font-size: 3rem;
      margin-bottom: 2rem;

      // media query - phone size
      @include respond(phone) {
        // @extend %font-title-phone;
        font-size: calc(0.8rem + 1.5vw);
      }
    }

    &--progress {
      position: relative;
      display: block;
      padding: 0.5rem;
      border-radius: 3rem;
      background-color: var(--primary-color);
      width: 100%;
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 2rem;
      color: var(--color-white);
      text-transform: none;
    }

    span {
      border-radius: 1rem;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 2rem;
      background-color: var(--secondary-color);
      width: 4rem;
    }
  }
  &__design--progress {
    &-1 {
      animation: web-design-1 4s infinite cubic-bezier(1, 0, 0, 1);
    }
    &-2 {
      animation: print-design-2 4s infinite cubic-bezier(1, 0, 0, 1);
    }
    &-3 {
      animation: logo-design-3 4s infinite cubic-bezier(1, 0, 0, 1);
    }
    &-4 {
      animation: graphic-design-4 4s infinite cubic-bezier(1, 0, 0, 1);
    }
  }
  &__coding--progress {
    &-1 {
      animation: html-code-1 4s infinite cubic-bezier(1, 0, 0, 1);
    }
    &-2 {
      animation: js-code-2 4s infinite cubic-bezier(1, 0, 0, 1);
    }
    &-3 {
      animation: py-code-3 4s infinite cubic-bezier(1, 0, 0, 1);
    }
    &-4 {
      animation: sql-code-4 4s infinite cubic-bezier(1, 0, 0, 1);
    }
  }
}
