/* ANIMATIONS */

@keyframes hero {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// @mixin designMixin($name, $end) {
//   @keyframes #{$name} {
//     0% {
//       width: 0%;
//     }
//     100% {
//       width: $end;
//     }
//   }
// }
@mixin skillsMixin($name, $end) {
  @keyframes #{$name} {
    0% {
      width: 0%;
    }
    100% {
      width: $end;
    }
  }
}
@include skillsMixin(web-design-1, 25%);
@include skillsMixin(print-design-2, 35%);
@include skillsMixin(logo-design-3, 45%);
@include skillsMixin(graphic-design-4, 55%);
@include skillsMixin(html-code-1, 99%);
@include skillsMixin(js-code-2, 45%);
@include skillsMixin(py-code-3, 5%);
@include skillsMixin(sql-code-4, 25%);

// @keyframes moveInLeft {
//     0% {
//         opacity: 0;
//         transform: translateX(-10rem);
//     }
//     50% {
//         color: rgba(255, 0, 0, 0.876);
//     }
//     70% {
//         color: rgba(255, 0, 0, 0.575);
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

// @keyframes moveInRight {
//     0% {
//         opacity: 0;
//         transform: translateX(10rem);
//         transform: translateY(4rem);
//     }
//     50% {
//         color: rgba(9, 255, 0, 0.876);
//     }
//     70% {
//         color: rgba(115, 255, 0, 0.876);
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

/* / ANIMATIONS */
